html{
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
header{
	text-align: center;
	background-color: #FFDE17;
	padding-bottom: 4.5em;
}
h1{
	margin: 0;
	font-size: 5.5rem;
	color: #ED1C24;
  -webkit-text-stroke: 2px white;
}
nav li{
  float: left;
  display: inline-block;
  width: 32%;
  padding: .5em;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
nav ol{
	margin: 0;
	padding: 0;
}
nav li a {
	background-color: #009444;
	text-decoration: none;
	color: white;
	padding: .3em 1.7em;
	border: 3px solid #EC008C;
}
nav ul{
	overflow: hidden;
	margin: auto;
	width: 100%;
	padding: 0;
}
.banner{
	position: relative;
	width: 100%;
}
.banner img{
	width: 100%;
}
.banner h2{
	position: absolute;
	bottom: 0em;
	text-align: center;
	width: 100%;
	color: white;
	 font-size: 2em;
  text-shadow: 3px 4px 0px black;
}
h3 {
  color: #009444;
  font-size: 3em;
  margin: 20% 0 -11px 1em;
  padding-top: 1em;
}
.section {
	  background-color: #FFDE17;
  border-bottom: 16px solid #ED1C24;
  margin-bottom: -19px;
}
.about img{
	  float: left;
  width: 50%;
  margin-right: 16px;
}
.about p, .location {
  margin-top: 7%;
}
table {
	margin-top: 2em;
	width: 100%;
}
.map {
	  width: 99%;
}
}
